body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #cacaca;
  border-radius: 3px;
  min-width: 25rem;
  padding: 3rem;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 5;
  gap: 10px;
}

.close-modal {
  height: 2rem;
  width: 2rem;
  background-color: rgb(219, 35, 35);
  border-radius: 5px;
  font-size: x-large;
  border: none;
  color: white;
}
.close-modal:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  background-color: #1c2536;
  cursor: pointer;
}
.b1 {
  grid-column: 1/1;
  grid-row: 1/1;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fffcfc;
  padding: 1rem;
}
.b2 {
  grid-column: 2/2;
  grid-row: 1/1;
  position: absolute;
  right: 1px;
  top: -45px;
  padding: 2px;
}
.b3 {
  grid-column: 1/2;
  grid-row: 2/5;
  background-color: #fffcfc;
  font-weight: 500;
  padding: 1rem;
  border-radius: 5px;
}
.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #4e4e4e;
}

.info-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
